.container{
    background-image : url(https://images.pexels.com/photos/1591447/pexels-photo-1591447.jpeg?cs=srgb&dl=color-depth-of-field-environment-1591447.jpg&fm=jpg) ;
    background-size: cover;
    height: 800px;
} 

